<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input class="nestado" matInput placeholder="Nombre del Producto" formControlName="nestado">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input class="destado" matInput placeholder="Estado del Producto" formControlName="destado">
            <mat-error *ngIf="addressForm.controls['destado'].hasError('required')">
             El nombre es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Crear</button>
    </mat-card-actions>
  </mat-card>
</form>